@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(48, 1, 87);
    --white-color: #fff;
    --low-gray-color:#eee;
    --orange-color:rgb(201, 132, 6);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 740px;
    margin: 50px auto;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
}

form input, form label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: 0.5px solid var(--white-color);
    background: var(--primary-color);
    color: var(--white-color);
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

form button:hover{
    background: var(--white-color);
    color:var(--primary-color);
    border: 0.5px solid var(--primary-color);
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
    
}

h1{
    color: var(--primary-color);
}

.tabela-titulo{
    text-align: center;
    font-size: 40px;
}

.calculo-titulo{
    margin-top: 40px;
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-transform: uppercase;
}

.tabela {
    overflow: hidden;
    overflow-x: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    color: var(--orange-color);
}

thead th {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 25px;
}

.grau{
    font-size: 15px;
}


table th, table td {
    white-space: nowrap;
    padding: 10px;
    text-align: center;
    border: 1px solid var(--low-gray-color);
}

table td {
    font-size: 20px;
}

.p-resultado, .p-wrong{
    font-size: 17px;
    background-color:#8be292;
    padding: 10px 20px;
    text-align: center;
}

.p-wrong{
    background-color: rgb(224, 139, 133);
}